/* Navbar Styling */
.navbar {
  background-color: rgb(22, 20, 20) !important;
}

/* Form Control */
.form-control {
  border-color: #124170;
}

/* Dropdown Styling */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F6F4F0;
  min-width: 200px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  z-index: 1000;
  border-radius: 6px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Styling the content (links) inside menus */
.dropdown-content a {
  padding: 12px;
  display: block;
  color: #2E5077;
  text-decoration: none;
  transition: background-color 0.2s;
}

/* Effect while hovering menus */
.dropdown-content a:hover {
  background-color: #79D7BE;
  color: #2E5077;
}

/* Menus position */
.dropdown-submenu {
  position: relative;
}

/* Menus position */
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  cursor: pointer;
}

/* Button Styling (applied on 'Advanced Search') */
.btn-primary {
  background-color: #124170;
  border-color: #124170;
  color: #F6F4F0;
  transition: background-color 0.3s;
  border-radius: 0.375rem;
}

/* Change color when hovering (applied on 'Advanced Search') */
.btn-primary:hover {
  background-color: #79D7BE;
  border-color: #79D7BE;
  color: #124170;
  border-radius: 0.375rem;
}

/* Styling the buttons (applied on 'Filter' and 'Sort') */
.btn-outline-secondary {
  background-color: #124170;
  color: #F6F4F0;
  border-color: #124170;
  transition: background-color 0.3s;
}

/* Invert colors when hovering (applied on 'Filter' and 'Sort') */
.btn-outline-secondary:hover {
  background-color: #79D7BE;
  color: #124170;
}

/* Card Styling */
.card {
  border: 1px solid #4DA1A9;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

/* Raise the cards on hover */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
  color: #2E5077;
}

.card-text {
  color: #4DA1A9;
}

/* Pagination Styling */
.pagination .page-item .page-link {
  color: #4DA1A9;
  border: 1px solid #4DA1A9;
  transition: background-color 0.3s;
}

/* pagination interactive */
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover {
  background-color: #4DA1A9;
  color: #F6F4F0;
  border-color: #4DA1A9;
}


/* General Border Radius Reset */
#filterdropdown, #sortdropdown, .btn-primary {
  border-radius: 0;
}

#genreFilter{
cursor: pointer;;

}

body{

  background-color: #DDF4E7;
}

.sidebar{
  background-color: #124170;
  color: #F6F4F0;
} 

.nav-link{
  color: #F6F4F0 !important;
  font-size: large;
}

hr{
  background-color: #124170;
}

.menu{
  background-color: #124170 !important;
}
.menu:hover{
  background-color: #79D7BE;
  fill: #124170;
}

.btn-success{

  background-color: rgb(37, 165, 37);
  border-color: rgb(37, 165, 37);
}

.btn-success:hover{
  background-color: rgb(32, 141, 32);
  border-color: rgb(32, 141, 32);
}

.rounded{
  border-radius: 0.375rem;
}